/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2014 (12.0.2000)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2017
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Standard Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [PharmacyDB]    Script Date: 09.06.2022 10:01:42 ******/
CREATE DATABASE [PharmacyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PharmacyDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PharmacyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PharmacyDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacyDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 09.06.2022 10:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmacy]    Script Date: 09.06.2022 10:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacy](
	[PharmacyId] [int] IDENTITY(1,1) NOT NULL,
	[PharmacyName] [nvarchar](100) NOT NULL,
	[Info] [nvarchar](1000) NULL,
	[Address] [nvarchar](1000) NULL,
	[Phone] [nvarchar](50) NULL,
	[Site] [nvarchar](50) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Rate] [float] NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[WorkTimeId] [int] NOT NULL,
 CONSTRAINT [PK_Pharmacy] PRIMARY KEY CLUSTERED 
(
	[PharmacyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 09.06.2022 10:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePharmacy]    Script Date: 09.06.2022 10:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePharmacy](
	[ServicePharmacyId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[PharmacyId] [int] NOT NULL,
 CONSTRAINT [PK_ServicePharmacy] PRIMARY KEY CLUSTERED 
(
	[ServicePharmacyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.06.2022 10:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTime]    Script Date: 09.06.2022 10:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTime](
	[WorkTimeId] [int] IDENTITY(1,1) NOT NULL,
	[WorkTime] [nvarchar](1000) NULL,
 CONSTRAINT [PK_WorkTime] PRIMARY KEY CLUSTERED 
(
	[WorkTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Детское хирургическое отделение')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Отделение новорожденных')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Кардиологическое отделение')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Pharmacy] ON 

INSERT [dbo].[Pharmacy] ([PharmacyId], [PharmacyName], [Info], [Address], [Phone], [Site], [Latitude], [Longitude], [Rate], [Photo], [CategoryId], [WorkTimeId]) VALUES (1, N'Доктор Дент', N'Ежедневно с 08:00 до 18:00', N'г. Зеленодольск, ​Комсомольская, 9', N'+7 (84371) 5‒63‒39', N'-', 55.850829939083866, 48.503563932338515, 4, N'333.jpg', 17, 1)
INSERT [dbo].[Pharmacy] ([PharmacyId], [PharmacyName], [Info], [Address], [Phone], [Site], [Latitude], [Longitude], [Rate], [Photo], [CategoryId], [WorkTimeId]) VALUES (3, N'Айболит', N'семейный медицинский центр', N'г. Зеленодольск,  ​Гоголя, 49а', N'+7 (843) 255‒41‒41, +7 (84371) 4‒05‒75', N'www.mc-aybolit.ru', 55.85158617833838, 48.517214089764018, 5, N'24444.jpg', 13, 3)
INSERT [dbo].[Pharmacy] ([PharmacyId], [PharmacyName], [Info], [Address], [Phone], [Site], [Latitude], [Longitude], [Rate], [Photo], [CategoryId], [WorkTimeId]) VALUES (4, N'INVITRO', N'Скидка 10% по промокоду «2ГИС»', N'г.Зеленодольск, ул. Ленина, 31', N'8‒800‒200‒363‒0', N'invitro.ru', 55.846137099548095, 48.504968051637704, 4, N'1555.jpg', 18, 2)
SET IDENTITY_INSERT [dbo].[Pharmacy] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (1, N'С сайтом')
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (2, N'Расчет по картам')
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (3, N'С фото')
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[ServicePharmacy] ON 

INSERT [dbo].[ServicePharmacy] ([ServicePharmacyId], [ServiceId], [PharmacyId]) VALUES (21, 2, 7)
INSERT [dbo].[ServicePharmacy] ([ServicePharmacyId], [ServiceId], [PharmacyId]) VALUES (22, 3, 7)
INSERT [dbo].[ServicePharmacy] ([ServicePharmacyId], [ServiceId], [PharmacyId]) VALUES (23, 5, 7)
SET IDENTITY_INSERT [dbo].[ServicePharmacy] OFF
INSERT [dbo].[User] ([UserName], [Password]) VALUES (N'admin', N'2')
INSERT [dbo].[User] ([UserName], [Password]) VALUES (N'user', N'1')
SET IDENTITY_INSERT [dbo].[WorkTime] ON 

INSERT [dbo].[WorkTime] ([WorkTimeId], [WorkTime]) VALUES (1, N'Круглосуточно')
INSERT [dbo].[WorkTime] ([WorkTimeId], [WorkTime]) VALUES (2, N'8:00 - 21:00')
INSERT [dbo].[WorkTime] ([WorkTimeId], [WorkTime]) VALUES (3, N'9:00 - 22:00')
SET IDENTITY_INSERT [dbo].[WorkTime] OFF
ALTER TABLE [dbo].[Pharmacy]  WITH CHECK ADD  CONSTRAINT [FK_Pharmacy_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Pharmacy] CHECK CONSTRAINT [FK_Pharmacy_Category]
GO
ALTER TABLE [dbo].[Pharmacy]  WITH CHECK ADD  CONSTRAINT [FK_Pharmacy_WorkTime] FOREIGN KEY([WorkTimeId])
REFERENCES [dbo].[WorkTime] ([WorkTimeId])
GO
ALTER TABLE [dbo].[Pharmacy] CHECK CONSTRAINT [FK_Pharmacy_WorkTime]
GO
ALTER TABLE [dbo].[ServicePharmacy]  WITH CHECK ADD  CONSTRAINT [FK_ServicePharmacy_Pharmacy] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacy] ([PharmacyId])
GO
ALTER TABLE [dbo].[ServicePharmacy] CHECK CONSTRAINT [FK_ServicePharmacy_Pharmacy]
GO
ALTER TABLE [dbo].[ServicePharmacy]  WITH CHECK ADD  CONSTRAINT [FK_ServicePharmacy_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([ServiceId])
GO
ALTER TABLE [dbo].[ServicePharmacy] CHECK CONSTRAINT [FK_ServicePharmacy_Service]
GO
USE [master]
GO
